In [1]:
# Q1- What's the main difference between a list and a tuple in Python? Give one example of each
# ans: - l1 = [1,2,3,4]| tple2 =(2,3,4,4)
       # List is mutable 
       # List is more prone to security breach
       # Tuple is immutable
        # Tuple is more secure than List

In [2]:

# Ans3 :- python dictionaies store data in key:value pair  #dictionaries are used by DataFrame to store data in tabular format

In [5]:
#  Describe what a 
# for loop does in Python. Write a simple example that prints numbers 1 to 5.
for i in range(1,5+1):
    print(i)

1
2
3
4
5

In [6]:
# ans 5: Exception is unexpected error occured in program and to handle these error we have exception handling 
         # Exception handling is done through 3 Keywords try, catch finally

In [16]:
try:
    n1 = int(input("Enter the number "))
    n2 = int(input("Enter number second time :"))
except ValueError:
    print(" ! Warning ! -->-->> No given by you us not Int Value  ")
finally:
    print("Int check")

Enter the number  mj

 ! Warning ! -->-->> No given by you us not Int Value
Int check

In [19]:
# ANS 6 :- python module 
# module provide inbluilt and userdefined functions which can help in perfoming differnt tasks like database connectivity and mathematical operations 

# import math means we are importing all functions present in module 
# from math import sqrt means we are importing only sqrt function from module

In [21]:
import math as m
m.factorial(5)

120

In [25]:
import math as m
from math import sqrt
sqrt(5)

2.23606797749979

In [27]:
# ANS 7 :- OOPS is a programming paradigm which include the use of classes and object 
# there are 4 Pillars in OOPS 
# Encapsulation
# abstaraction
# Inheritance
# Polymorphism

In [57]:
class Student:
    def Student_details(self):
        std_id = 102
        std_name = 'Govind'
        std_course = 'BCA'
        return std_id,std_course,std_name

In [58]:
D = Student()

In [59]:
D.Student_details()

(102, 'BCA', 'Govind')

In [63]:
# Q8 
List_comp = [i * 2
            for i in range(10)
            if i % 2 == 0]
List_comp

[0, 4, 8, 12, 16]

In [25]:
# ANS 9 :- 
def calculate_area():
    radius = float(input("Enter the radius of Circle: "))
    area = 3.14 * radius * radius 
    return area

In [27]:
calculate_area()

Enter the radius of Circle:  4

50.24

In [31]:
# Ans10 :-

In [ ]:
name = input("Enter your name : ")
age = int(input("Enter your age: "))
print(f'Hello {name},you are {age} years old!')

In [66]:
# ANS 11
fruits = ['Apple','Orange','Mango','Guava']
for i,j in enumerate(fruits):
    print(f'{i} {j}')

0 Apple
1 Orange
2 Mango
3 Guava

In [21]:
# ANS 12

# 90-100: A
#  80-89: B
#  70-79: C
def grade_calculator():
    try:
        student_score = int(input("Enter a number between 1 and 100: "))
        
        if student_score > 100 or student_score < 1:
            print("Please enter a value between 1 and 100.")
        elif student_score > 90:
            print("Congrats! You got A grade.")
        elif 80 < student_score <= 90:
            print("You got B grade.")
        elif 70 < student_score <= 80:
            print("You got C grade.")
        elif 60 < student_score <= 70:
            print("You got D grade.")
        else:
            print("You got F grade.")
    
    except ValueError:
        print("Enter a valid number.")

grade_calculator()

Enter a number between 1 and 100:  55

You got F grade.